@page "/aoc1"
@rendermode InteractiveServer
@using System.Diagnostics
@using System.Text.RegularExpressions

<PageTitle>Day 1</PageTitle>

<h3>AOC 2024 - Gustav Solutions - Day 1</h3>
<p>Enter the input for the next activity</p>

<div class="input-container">
	<textarea class="styled-textarea" @bind="inputText" rows="10" cols="50"></textarea>
	<button class="btn btn-light" @onclick="ReadInput">Perform todays activity!</button>
</div>

<h2>Part 1 Result: @res1</h2>
<h2>Part 2 Result: @res2</h2>



@code {
	private String inputText = "";
	private String res1 =  "";
	private String res2 = "";

	private void ReadInput() {
		Debug.WriteLine(inputText);

		string[] rows = (new Regex("[^0-9] ")).Replace(inputText, "").Split("\n");
		List<int> leftColumn = new List<int>();
		List<int> rightColumn = new List<int>();
		foreach (string row in rows)
		{
			string[] splitRow = row.Split(" ");
			if (splitRow.Length != 2)
			{
				Debug.WriteLine("Failed to split row");
				continue;
			}
			leftColumn.Add(int.Parse(splitRow[0]));
			rightColumn.Add(int.Parse(splitRow[1]));
		}
		leftColumn.Sort();
		rightColumn.Sort();

		int distance = 0;
		for (int i= 0;i < leftColumn.Count; i++) {
			distance += Math.Abs(leftColumn[i] - rightColumn[i]);
		}

		res1 = distance.ToString();

		int uniqueness = 0;
		foreach (int i in leftColumn)
		{
			int occurances = 0;
			foreach (int j in rightColumn)
			{
				if (i == j)
				{
					occurances ++;
				}
				if (j > i)
				{
					break;	
				}
			}
			uniqueness += (i * occurances);
		}
		res2 = uniqueness.ToString();
	}
}
