@page "/aoc1"
@rendermode InteractiveServer
@using System.Diagnostics
@using System.Text.RegularExpressions

<PageTitle>Day 1</PageTitle>

<h3>AOC 2024 - Gustav Solutions - Day 1</h3>
<p>Enter the input for the next activity</p>

<div class="input-container">
	<textarea class="styled-textarea" @bind="textValue" rows="10" cols="50"></textarea>
	<button class="btn btn-light" @onclick="ReadInput">Perform todays activity!</button>
</div>

<h2>Result:</h2>



@code {
	private String textValue = "";

	private void ReadInput() {
		Debug.WriteLine(textValue);

		string[] rows = (new Regex("[^0-9] ")).Replace(textValue, "").Split("\n");
		List<int> leftColumn = new List<int>();
		List<int> rightColumn = new List<int>();
		foreach (string row in rows)
		{
			string[] splitRow = row.Split(" ");
			if (splitRow.Length != 2)
			{
				Debug.WriteLine("Failed to split row");
				continue;
			}
			leftColumn.Add(int.Parse(splitRow[0]));
			rightColumn.Add(int.Parse(splitRow[1]));
		}
		leftColumn.Sort();
		rightColumn.Sort();

		int distance = 0;
		for (int i= 0;i < leftColumn.Count; i++) {
			distance += Math.Abs(leftColumn[i] - rightColumn[i]);
		}

		
		Debug.WriteLine(textValue);
	}
	
}
