<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AOC 2024</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aoc1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 1
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aoc2">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aoc3">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 3
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="aoc4">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 4
            </NavLink>
        </div>

                <div class="nav-item px-3">
            <NavLink class="nav-link" href="aoc5">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 5
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ao6">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Day 6
            </NavLink>
        </div>


    </nav>
</div>

